<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.username">zcvvieupmipgvm</property>
    <property name="hibernate.connection.password">9478d9c0f859ba6e541335a6b7015e23b9782464e763bd15ae0b781b41536ad3</property>
    <property name="hibernate.connection.url">jdbc:postgresql://ec2-50-16-198-4.compute-1.amazonaws.com:5432/d9k9979vdm5lrh</property>


<!--    <property name="hibernate.connection.url">-->
<!--        jdbc:sqlite:anna-base.db-->
<!--    </property>-->

    <property name="hibernate.connection.provider_class">
        org.hibernate.c3p0.internal.C3P0ConnectionProvider
    </property>

    <property name="c3p0.min_size">5</property>
    <property name="c3p0.max_size">20</property>
    <property name="c3p0.timeout">300</property>
    <property name="c3p0.max_statements">50</property>
    <property name="c3p0.idle_test_period">3000</property>


    <property name="show_sql">
        true
    </property>

    <property name="connection.pool_size">
        50
    </property>

    <property name="hibernate.default_schema">
        public
    </property>

        <property name="hibernate.connection.release_mode">auto</property>
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.connection.autoReconnect">true</property>


        <mapping class="pojo.Task"/>
        <mapping class="pojo.Word"/>
        <mapping class="pojo.BotUser"/>

    </session-factory>

</hibernate-configuration>